.container {
    margin-top: 60px;
    margin-left: 30px;
    height: 790px;
    margin-right: 30px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.dateTitle {
    font-weight: 700;
    font-size: 30px;
    color: #e95973;
    margin-bottom: 0px;
}

.resume {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 0;
}
