.container-expect {
    height: 100%;
    margin-left: 30px;
}

.expectContainer {
    margin-right: 30px;
    margin-bottom: 50px;
}

.expectContainerRight {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 50px;
}

.title-expect {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.expectTitlePink {
    font-weight: 700;
    font-size: 30px;
    color: #e95973;
    margin-bottom: 0;
}

.expectTitlePurple {
    font-weight: 700;
    font-size: 30px;
    color: #6562be;
    margin-bottom: 0;
}

.expectResume {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 0;
}

#dark .title-expect,
#dark .expectResume {
    color: white;
}
