@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

#light {
    background: white;
}

#dark {
    background: #323647;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

nav h1 a {
    color: #e95973;
    font-size: 36px;
}

.link-nav {
    justify-content: space-between;
    display: flex;
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;
    width: 55%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 120px;
    margin-top: 70px;
}

footer h1 {
    margin-bottom: 0;
}

footer h1 a {
    font-weight: 700;
    font-size: 30px;
    color: #e95973;
    margin-bottom: 0;
}

.link-footer a {
    margin-right: 20px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 0;
}

#dark .link-footer a {
    color: white;
}

#dark .link-nav a {
    color: white;
}

@media only screen and (max-width: 500px) {
    .link-nav {
        display: none;
    }

    .blog-container .link-nav {
        display: none;
    }
}
