@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#light {
    background: white;
}

#dark {
    background: #323647;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

nav h1 {
    color: #e95973;
    font-size: 36px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 190px;
    background: white;
}

footer h1 {
    font-weight: 700;
    font-size: 30px;
    color: #e95973;
    margin-bottom: 0;
}

.link-footer {
    margin-top: 70px;
}

.link-footer a {
    margin-right: 20px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
    .link-nav {
        display: none;
    }
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
